* {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("images/bg-intro-desktop.png");
    background-color: hsla(355, 100%, 50%, 0.5);
    font-size: 0.8rem;
    overflow-x: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#msg {
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    color: white;
}

#msg>p {
    color: hsl(0, 0%, 95%);
}

form {
    margin-top: 0px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#signin {
    margin-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
    padding-right: 10px;
}

input {
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    border-color: hsla(0, 0%, 0%, 0.05);
    padding-left: 20px;
}

input:first-child {
    margin-top: 20px;
}

button {
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;
    width: 81%;
    margin-right: auto;
    margin-left: 11%;
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-size: 3.5vw;
}

#info {
    background-color: hsl(248, 32%, 49%);
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    width: 100%;
    padding: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hint {
    width: 70%;
    text-align: center;
    height: 20px;
    line-height: 1em;
    font-size: 10px;
    padding: 10px;
}

#hint {
    color: hsl(0, 0%, 80%);
}

#hint>span {
    color: white;
}

#signin>p {
    height: 50px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    padding-left: 10px;
}

#condi {
    color: red;
}

@media only screen and (min-width: 768px) {
    #main {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    #msg {
        margin-right: 20px;
        margin-left: auto;
        width: 50em;
    }
    h2 {
        color: hsl(0, 0%, 100%);
        font-size: 3rem;
        margin-top: 100px;
        line-height: 1.2em;
        margin-bottom: 15px;
    }
    #msg>p {
        color: hsl(0, 0%, 100%);
        margin-top: 15px;
    }
    #msg,
    form {
        margin-top: 10vh;
        width: 30em;
        height: 30em;
    }
    form {
        margin-left: 20px;
        margin-right: auto;
    }
    form>p {
        background-color: hsl(248, 32%, 49%);
        height: 10px;
        margin-top: 0px;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 30em;
    }
    #pay {
        text-align: center;
        height: 20px;
        width: 30em;
        color: white;
        font-size: 12px;
    }
    #signin {
        background-color: white;
        margin-bottom: 0px;
        height: 35em;
        border-radius: 10px;
    }
    #signin>input {
        width: 80%;
        height: 40px;
        border-color: hsla(0, 0%, 0%, 0.05);
        border-radius: 5px;
        margin-left: 2.5em;
    }
    input:first-child {
        margin-top: 40px;
    }
    input:not(input:first-child) {
        margin-top: 12px;
    }
    #signin>p {
        font-size: 12px;
        text-align: center;
    }
    button {
        background-color: hsl(154, 59%, 51%);
        border: none;
        margin-top: 10px;
        color: hsl(0, 100%, 100%);
        font-size: 1em;
    }
    #condi {
        color: red;
    }
}